@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.799);
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-col {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 41.666667%; /* Equivalent to col-md-5's width in Bootstrap */
  z-index: 10;
}

.img-col img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.img-wrapper {
  position: relative;
  display: block;
  height: 100vh;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-col {
  margin-left: 41.666667%; /* Push the right column to the right */
  height: 100vh;
  overflow-y: auto; /* Makes it independently scrollable */
}

.section-wrapper {
  border: 1px solid lightblue;
  border-radius: 5px;
}

.section-wrapper1{
  border: 1px solid rgb(235, 232, 232);
  border-radius: 5px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid orange;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.custom-font {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

/* MOBILE DESIGN */

@media screen and (max-width: 768px) {
  .img-col {
    display: none;
  }
  .right-col {
    margin-left: 0;
  }

  .custom-font {
    font-size: 19px;
    font-weight: bold;
  }
}

/* LOGIN FORM CSS */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.half,
.half .container > .row {
  height: 100vh;
  min-height: 700px;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px;
  }
}

.half .contents {
  background: #f6f7fc;
}

.half .contents,
.half .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .half .contents,
  .half .bg {
    width: 100%;
  }
}
.half .contents .form-control,
.half .bg .form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 54px;
  background: #fff;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
  text-decoration: underline;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #fb771a;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fb8633;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: 0.2;
}

.custom-button {
  border-radius: 20px;
  height: 45px !important;
}

.rounded {
  border-radius: 10px !important;
  height: 45px !important;
  border: rgba(0, 0, 0, 0.1) 1px solid !important;
}
.main-cont {
  padding-top: 150px;
}

.img-admin {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

/* Media query for mobile screens */
@media (max-width: 900px) {
  .main-cont {
    padding-top: 50px;
  }

  .img-admin {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .login-wrapper {
    width: 90% !important;
  }
}

.login-wrapper {
  width: 30%;
}

.apply{
  height: 40px !important;
}