body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img-col {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 41.666667%; /* Equivalent to col-md-5's width in Bootstrap */
  z-index: 10;
}

.img-col img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-wrapper {
  position: relative;
  display: block;
  height: 100vh;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-col {
  margin-left: 41.666667%; /* Push the right column to the right */
  height: 100vh;
  overflow-y: auto; /* Makes it independently scrollable */
}



.section-wrapper{
  border: 1px solid grey;
  border-radius: 5px;
}